@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-text-primary: theme(colors.gray.900); /* Primary text color (dark gray) */
    --color-background-primary: theme(colors.gray.100); /* Primary background color (light gray) */
    --color-accent-primary: theme(colors.blue.500); /* Primary accent color (blue) */

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: var(--color-text-primary); /* Use primary text color */
  background-color: var(--color-background-primary); /* Use primary background color */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-accent-primary); /* Use primary accent color */
  text-decoration: inherit;
}

a:hover {
  color: theme(colors.blue.600); /* Keep hover color darker */
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  @apply rounded-md border border-transparent px-3 py-2 text-sm font-medium cursor-pointer transition-colors duration-200 text-white bg-gray-700 hover:bg-gray-800 hover:border-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-500;
}


@media (prefers-color-scheme: dark) {
    :root {
        --color-text-primary: theme(colors.gray.100); /* Primary text color (light gray) */
        --color-background-primary: theme(colors.gray.900); /* Primary background color (dark gray) */
        --color-accent-primary: theme(colors.blue.300); /* Primary accent color (lighter blue) */
        color: var(--color-text-primary); /* Use primary text color */
        background-color: var(--color-background-primary); /* Use primary background color */
    }

   button {
         @apply rounded-md border border-transparent px-3 py-2 text-sm font-medium cursor-pointer transition-colors duration-200 text-gray-900 bg-gray-200 hover:bg-gray-300 hover:border-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-500;
    }

    a:hover{
         color: theme(colors.blue.400);
    }
}
